/**
 * 下方引入的为uView UI的集成样式文件，为scss预处理器，其中包含了一些"u-"开头的自定义变量
 * uView自定义的css类名和scss变量，均以"u-"开头，不会造成冲突，请放心使用 
 */
@import "uview-ui/theme.scss";

$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;

$red-100: #fee2e2;
$red-300: #fca5a5;
$red-500: #ef4444;
$red-700: #b91c1c;

$yellow-100: #fef3c7;
$yellow-300: #fcd34d;
$yellow-500: #f59e0b;
$yellow-700: #b45309;

$green-100: #d1fae5;
$green-300: #6ee7b7;
$green-500: #10b981;
$green-700: #047857;

$blue-100: #dbeafe;
$blue-300: #93c5fd;
$blue-500: #3b82f6;
$blue-700: #1d4ed8;

.text-gray-100 {
  color: $gray-100;
}
.text-gray-200 {
  color: $gray-200;
}
.text-gray-300 {
  color: $gray-300;
}
.text-gray-400 {
  color: $gray-400;
}
.text-gray-500 {
  color: $gray-500;
}
.text-gray-600 {
  color: $gray-600;
}
.text-gary-700 {
  color: $gray-700;
}
.text-gary-800 {
  color: $gray-800;
}

.text-red-100 {
  color: $red-100;
}
.text-red-300 {
  color: $red-300;
}
.text-red-500 {
  color: $red-500;
}
.text-red-700 {
  color: $red-700;
}

.text-yellow-100 {
  color: $yellow-100;
}
.text-yellow-300 {
  color: $yellow-300;
}
.text-yellow-500 {
  color: $yellow-500;
}
.text-yellow-700 {
  color: $yellow-700;
}

.text-green-100 {
  color: $green-100;
}
.text-green-300 {
  color: $green-300;
}
.text-green-500 {
  color: $green-500;
}
.text-green-700 {
  color: $green-700;
}

.text-blue-100 {
  color: $blue-100;
}
.text-blue-300 {
  color: $blue-300;
}
.text-blue-500 {
  color: $blue-500;
}
.text-blue-700 {
  color: $blue-700;
}

.w-full {
  width: 100%;
}
.w-half {
  width: 50%;
}

.rounded {
  border-radius: 16px;
}

.inline-block {
  display: inline-block;
}
